body {
  font-weight: 400;
  font-family: "Tiro Devanagari Sanskrit", serif;
}
/* Container for the navigation header */
.header-main {
  margin: auto;
  display: flex;
  width: 90%;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
}

.header-main::-webkit-scrollbar {
  width: 0; 
  height: 0;
}

.nav-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
}

/* Styles for list items */
.nav-items li {
  font-size: 26px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 15px 19px;
  color: white;
  font-weight: 400;
  font-family: "Tiro Devanagari Sanskrit", serif;
  white-space: nowrap;
}

/* Active state */
.nav-items li.active {
  background-color: #84b4d4;
}

/* Passive state */
.nav-items li.passive {
  background-color: #267163;
}
.nav-items li.passive:hover {
  cursor: pointer;
  background-color: #84b4d4;
}

/* Premium state */
.nav-items li.premium {
  background-color: #d13938;
}

/* Responsive (screens smaller than 600px) */
@media (max-width: 600px) {
  .header-main {
    overflow-x: scroll;
  }

  .nav-items li {
    padding: 8px 12px;
  }
}

li i {
  color: black;
  font-size: 20px;
}
.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
}

.search-icon svg {
  fill: white;
  width: 100%;
  height: 100%;
}

/* UPPER MAIN MENU CSS STARTS  */
.upperMenuContainer {
  width: 90%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  background-color: #f8f8f8;
  justify-content: center;
  margin: auto;
}
.upperMenuContainer::-webkit-scrollbar {
  width: 0; 
  height: 0; 
}

.mainUpperMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  gap: 25%;
  min-width: 1000px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right button {
  background-color: #d13938;
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
  color: #267163;
  font-size: 16px;
  gap: 8px;
  cursor: pointer;
}

.login-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.login-icon svg {
  fill: white;
  width: 100%;
  height: 100%;
  background-color: #267163;
  border-radius: 50%;
  padding: 1px 6px;
}

.left {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #267163;
}

.roundBtnEnglish {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #267163;
  padding: 8px;
  font-size: 11px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  font-family: system-ui;
  font-weight: 500;
}
.calendar svg,
.clock svg,
.unicode svg,
.socialMedia svg {
  height: 22px;
}
.calendar,
.clock,
.unicode,
.english,
.socialMedia {
  display: flex;
  align-items: center;
  width: max-content;
}
.calendar p,
.clock p,
.unicode p,
.english p,
.login p {
  display: flex;
  margin-left: 6px;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.socialMedia {
  display: flex;
  gap: 12px;
}

.socialMedia .fa-icon {
  color: #267163;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.logo img {
  height: 140px;
}
@media screen and (max-width: 900px) {
  .logo {
    padding: 10px;
  }
  .logo img {
    height: 50px;
  }
}

.news-box-main {
  display: flex;
  height: 200px;
  margin: 40px 10px;
  flex-direction: column;
  align-items: center;
}

.min-box {
  width: 80%;
  display: flex;
  border: 1px solid #e0e0e0;
  text-align: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}

.min-box h1 {
  color: #337ab7;
  font-size: 60px;
  cursor: pointer;
  padding: 2px 2px;
  font-weight: 200;
}

.min-box h1:hover {
  color: black;
}

.news-boxwithinfo-main {
  display: block;
  width: 100%;
  margin: 5% 0%;
}

.min-boxwithinfo {
  width: 80%;
  margin: auto;
  border: 1px solid #e0e0e0;
  text-align: center;
  margin-top: 2%;
}

.min-boxwithinfo .title {
  color: #337ab7;
  font-size: 60px;
  font-weight: 200;
}

.min-boxwithinfo .title:hover {
  cursor: pointer;
  color: black;
}

.min-boxwithinfo .author {
  font-size: 20px;
  color: #267163;
  font-weight: 600;
}

.min-boxwithinfo .description {
  font-size: 20px;
  color: black;
  font-weight: 200;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bigyapaan {
  display: block;
  width: 80%;
  align-items: center;
  margin: 3% auto;
}
.ads-block-80percent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.threeBox-flex {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 20px;
}

.threeBox-Box {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.threeBox-Box .threeBox-title {
  font-size: 32px;
}

.threeBox-Box .threeBox-image {
  width: 100%;
  height: auto;
}

/* Author text */
.threeBox-author {
  font-family: emoji;
  font-size: 15px;
  font-weight: 500;
}

/* Responsive design: screen width 768px and below */
@media (max-width: 768px) {
  .threeBox-Box {
    flex: 1 1 100%;
  }

  .threeBox-title {
    font-size: 28px;
  }

  .threeBox-author {
    font-size: 16px;
  }
}

/* Responsive design: screen width 480px and below */
@media (max-width: 480px) {
  .threeBox-title {
    font-size: 24px;
  }

  .threeBox-author {
    font-size: 14px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .min-box h1 {
    font-size: 40px;
  }

  .min-boxwithinfo .title {
    font-size: 40px;
  }

  .min-boxwithinfo .author,
  .min-boxwithinfo .description {
    font-size: 16px;
  }

  .min-box img {
    width: 100%; /* Adjust image size */
    height: auto;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .min-box {
    width: 100%;
  }

  .min-box h1 {
    font-size: 30px;
  }

  .min-boxwithinfo {
    width: 100%;
  }

  .min-boxwithinfo .title {
    font-size: 30px;
  }

  .min-boxwithinfo .author,
  .min-boxwithinfo .description {
    font-size: 14px;
  }

  .min-box img {
    width: 100%;
    height: auto;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 480px) {
  .min-box h1 {
    font-size: 25px;
  }

  .min-boxwithinfo .title {
    font-size: 25px;
  }

  .min-boxwithinfo .author,
  .min-boxwithinfo .description {
    font-size: 12px;
  }

  .min-box img {
    width: 100%;
    height: auto;
  }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 1280px) {
  .min-box h1 {
    font-size: 32px;
  }

  .min-boxwithinfo .title {
    font-size: 32px;
  }

  .min-boxwithinfo .author,
  .min-boxwithinfo .description {
    font-size: 12px;
  }

  .min-box .media-image {
    width: 80%;
    height: auto;
  }
  .min-box .media-image img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
}

/* Thumbnail Big , News Starts*/
.thumbnail-news {
  width: 85%;
  margin: auto;
  margin-top: 10%;
}

.thumbnail-box {
  position: relative;
  width: 100%;
}

.thumbnail-image img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.thumbnail-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.thumbnail-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.thumbnail-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumbnail-left {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 6px;
  gap: 10px;
}

.thumbnail-author-profile {
  width: 35px;
  height: 35px;
}
.thumbnail-author-profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin-right: 10px;
}

.thumbnail-author {
  font-size: 1.25rem;
  color: #e2dede;
  font-weight: 200;
}

.thumbnail-mid {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 60vw;
}

.comment-box {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: #e2dede;
}

.share-counter h4 {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.share-counter h6 {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

.flex-thumbnail-meta {
  display: flex;
  border-top: 1px solid #45484c;
  justify-content: space-between;
}

.thumbnail-mid svg {
  height: 20px;
  width: 20px;
}

.thumbnail-mid .comment-icon {
  background-color: #95d03a;
  border-radius: 5px;
  padding: 5px;
}

.thumbnail-share-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Section Title starts*/
.section-title-block{
  width: 90%;
  display: flex;
  margin: auto;
}
.section-title{
  width: 100%;
}
.section-title h2{
  background-color: #d13938;
  color: white;
  font-weight: 600;
  padding: 5px 14px;
  font-family: "Noto Sans", sans-serif;
  font-size: 33px;
  border-radius: 4px;
  width: fit-content;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .thumbnail-news {
    width: 90%;
  }
  .thumbnail-title {
    font-size: 2rem;
  }
  .thumbnail-author {
    font-size: 1rem;
  }
  .thumbnail-mid {
    width: 100%;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .thumbnail-title {
    font-size: 1.5rem;
  }
  .thumbnail-author-profile {
    width: 30px;
    height: 30px;
  }
  .thumbnail-author {
    font-size: 0.875rem;
  }
  .comment-box {
    font-size: 0.875rem;
  }
  .share-counter h4 {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .thumbnail-news {
    width: 95%;
  }
  .thumbnail-title {
    font-size: 1.25rem;
  }
  .thumbnail-author-profile {
    width: 25px;
    height: 25px;
  }
  .thumbnail-author {
    font-size: 0.75rem;
  }
  .comment-box {
    font-size: 0.75rem;
  }
  .share-counter h4 {
    font-size: 0.75rem;
  }
  .section-title h2{
    padding: 3px 10px;
    font-size: 23px;
    width: fit-content;
  }
}
@media (max-width: 340px) {
  .section-title h2{
    padding: 3px 10px;
    font-size: 13px;
  }
  .thumbnail-news {
    width: 100%;
    margin-top: 5%;
  }
  .thumbnail-title {
    font-size: 1rem;
  }
  .thumbnail-author-profile {
    width: 20px;
    height: 20px;
  }
  .thumbnail-author {
    font-size: 0.625rem;
  }
  .comment-box {
    font-size: 0.625rem;
  }
  .share-counter h4 {
    font-size: 0.625rem;
  }
  .thumbnail-mid {
    gap: 5px;
  }
  .thumbnail-mid .comment-icon {
    padding: 3px;
  }
}

